<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phasebook</title>
</head>
<body>
    <form action="/match/" method="post">
        <label>Match an ID</label>
        <input type="text" id="findID" name="findID"><br>
        <input type="submit" value="match">
    </form>
    <br>
    <form action="/search" name="form" id="form">
        <label>Search:</label>
        <br>
        <labe>ID:</labe>
        <input type="text" id="id" name="id">
        <br>
        <label>Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label>Age:</label>
        <input  type="text" id="age" name="age">
        <br>
        <label>Occupation:</label>
        <input type="text" id="occupation" name="occupation">
        <br>
        <input type="submit" value="Search">
    </form>
</body>
</html>
